<h1 *ngIf="add">Entrer un nouveau concert</h1>
<h1 *ngIf="!add">Mettre à jour le concert</h1>
<form [formGroup]='concertForm' (ngSubmit) = 'onSubmit()'>
	Artiste <input type='text' id='artist' name='artist' formControlName='artist'/><br>
	Date <input type='text' id='date' name='date' formControlName='date'/><br>
	Genre <input type='text' id='genre' name='genre' formControlName='genre'/><br>
	Description <input type='text' id='description' name='description' formControlName='description'/><br>
	Nombre de place max <input type='text' id='nbMaxPlace' name='nbMaxPlace' formControlName='nbMaxPlace'/><br>
	Prix <input type='text' id='price' name='price' formControlName='price'/><br>
	Nombre de place achetées <input type='text' id='nbBoughtPlace' name='nbBoughtPlace' formControlName='nbBoughtPlace'/><br>

	<button type='submit' [disabled]='!concertForm.valid'>Enregistrer</button>
</form>