/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.ui-g, .ui-g-2, .ui-g-10 {
    padding: 0 !important;
}