/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


.ui-g-12 {
    padding: 0 !important;
}

html, body{
    height: 100%;
    margin:0;
    background-color: #ecebf3;
}


#footer{
    position: relative;
}

a{
    color: #23c8dd;
}

h1{
    text-align: center;
    font-size: 3em;  
}

h2{
    text-align: center;
    font-size: 2em;  
}


