.listeConcertAdminDetail {
    text-align: center;
}

.listeConcertAdminDetail > div {
    line-height: 50px;
}

.listeConcertAdminDetail:hover > div{
    background-color: #B7B7B7;
}

.header{
    background-color: #555;
    color: white;
}

.ui-button-rounded{
    

}

.buttonSuppr {
    width: 100px;
    height: 24px;
    padding: 0;
    margin-right: 2px;
    background-color: #ed1216;
}

.buttonEdit {
    height: 24px;
    width: 70px;
    padding: 0;
    margin-right: 2px;
    background-color: #23c8dd;
}

.buttonActive {
    position: relative;
    top: 8px;
    display:inline;
}

.inactiveConcert >div{
    background-color: #B7B7B7;
}

.inactiveConcertButton {
    background-color: #B7B7B7;
}

