<div class="header">
  <h2>Liste des concerts (admin)</h2>
</div>

<app-recherche-concert [(concerts)]="concerts"></app-recherche-concert>


<div class="listeConcertAdminDetail">
  <div class="ui-g-3"><h3>Nom - Artiste</h3></div>
  <div class="ui-g-3"><h3>Date et Lieu</h3></div>
  <div class="ui-g-1"><h3>Nb Places</h3></div>
  <div class="ui-g-2"><h3>Prix</h3></div>
  <div class="ui-g-3"><h3>Actions</h3></div>
</div>


<div *ngFor="let concert of concerts">
  <div class="listeConcertAdminDetail" [ngClass]="{'inactiveConcert': !concert.active}">

    <div class="ui-g-3"> <a routerLink="../../ficheConcert/{{concert.id}}">{{concert.name}} - {{concert.artist}}</a> </div>
    <div class="ui-g-3">{{concert.date | date:"dd/MM/yyyy - hh'H'mm"}} à {{concert.place}}</div>
    <div class="ui-g-1">{{concert.nbMaxPlaces - concert.nbBoughtPlace}}</div>
    <div class="ui-g-2">{{concert.price}} €</div>
    <div class="ui-g-3">
        <a routerLink="../../updateConcert/{{concert.id}}">
          <button pButton [ngClass]="{'inactiveConcertButton': !concert.active}" class="ui-button-rounded buttonEdit">Modifier</button>
        </a>
      <button pButton type="button" [ngClass]="{'inactiveConcertButton': !concert.active}" class="ui-button-rounded buttonSuppr" (click)="deleteConcert(concert.id)">Supprimer</button>
      <div class="buttonActive">
        <p-inputSwitch (click)="updateActiveConcert(concert)" [(ngModel)]="concert.active"></p-inputSwitch>
      </div> 
    </div>   
  </div>
</div>

