<div class="wrapper" >
  <div class="recherche-content"><h2>Recherche</h2></div>

  <div class="concert-content ui-g" ngFor="concert of concerts">
    <div class="ui-g-1 musique">
      <h4 class="style-musique" > {{ concert.genre }} </h4>
    </div>
    <img src="./assets/hellfest2.jpg" class="ui-g-4" alt="">
    <div class="ui-g-6 img-concert" >
      <h3>Hellfest</h3>
      <p class="artiste-concert" >Slipknot, Five Fingers Death Punch, Korn</p>
      <p class="date-concert">12/12/2020</p>
      <p class="description-concert" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et fermentum ante. Pellentesque bibendum viverra turpis vitae condimentum. Aliquam ipsum urna, dignissim at elit eu, ornare tincidunt diam. Cras sed nisi ut nibh gravida lacinia. Donec dolor felis, fringilla vitae suscipit eget, tempor sed nisl. In hac habitasse platea dictumst. Ut scelerisque in justo a convallis. Maecenas commodo nisi vel ante pellentesque condimentum. Sed sit amet nulla in justo imperdiet lobortis sed sed nibh. Phasellus facilisis felis quis turpis eleifend tincidunt. Phasellus egestas finibus ante, in finibus urna placerat id. </p>
      <p class="place-concert">place disponible : 50/55</p>
    </div>
    <div class="ui-g-1 prix-ajout" >
        <p class="prix-concert">17,50€</p>
        <a href=""><p class="ajout-concert">+ </p></a>
      </div>
  </div>

  <div class="concert-content ui-g">
      <div class="ui-g-1 musique">
        <h4 class="style-musique" >Métal</h4>
      </div>
      <img src="./assets/hellfest2.jpg" class="ui-g-4" alt="">
      <div class="ui-g-6 img-concert" >
        <h3>Hellfest</h3>
        <p class="artiste-concert" >Slipknot, Five Fingers Death Punch, Korn</p>
        <p class="date-concert">12/12/2020</p>
        <p class="description-concert" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et fermentum ante. Pellentesque bibendum viverra turpis vitae condimentum. Aliquam ipsum urna, dignissim at elit eu, ornare tincidunt diam. Cras sed nisi ut nibh gravida lacinia. Donec dolor felis, fringilla vitae suscipit eget, tempor sed nisl. In hac habitasse platea dictumst. Ut scelerisque in justo a convallis. Maecenas commodo nisi vel ante pellentesque condimentum. Sed sit amet nulla in justo imperdiet lobortis sed sed nibh. Phasellus facilisis felis quis turpis eleifend tincidunt. Phasellus egestas finibus ante, in finibus urna placerat id. </p>
        <p class="place-concert">place disponible : 50/55</p>
      </div>
      <div class="ui-g-1 prix-ajout" >
          <p class="prix-concert">17,50€</p>
          <a href=""><p class="ajout-concert">+ </p></a>
        </div>
    </div>
</div>