div.recherche-content, div.concert-content{
    border-bottom: 2px solid #1c1c1c; 
    position: relative;
    padding: 25px 0; 
}

.musique{
    width: 5%;
}
.img-concert{
    position: relative;
}
img{
    width: 515px;
    height: 322px;
}

h4.style-musique{
    transform: rotate(-90deg);
    font-size: 24px;
    margin-top: 200%;
}
div.concert-content div h3 a{
    font-size: 24px;
    color: #1c1c1c;
    transition: 0.3s;
}
div.concert-content div h3 a:hover{
    color: #23c8dd;
    transition: 0.3s;
}
div.concert-content div h3, div.concert-content div p{
    margin-bottom: 10px;
}
div.prix-ajout p.prix-concert{
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 120px;
    line-height: 120px;
    font-size: 24px;
    box-shadow: -3px 3px 10px #1c1c1c; 
    color: #5c5e66;
    font-weight: bold;
}
div.prix-ajout p.ajout-concert{
    position: absolute;
    bottom: 0;
    right: 25px;
    text-align: center;
    width: 60px;
    line-height: 60px;
    font-size: 50px;
    border: 2px solid #5c5e66;
}
div.prix-ajout a {
    text-decoration: none;
    color: #23c8dd;
    transition: 0.2s;
}
div.prix-ajout a:hover {
    text-decoration: none;
    color: #1c1c1c;
    transition: 0.2s;
}

div.concert-content:last-child{
    border-bottom: 0;
}
strong {
    color: #23c8dd;
}