h1{
    color: #5c5e66;
    padding: 60px;
}

h1.header{
    color:white;
}

img{
    width: 200px;
    box-shadow: 1px 1px 12px #1c1c1c;
    border-radius: 15px;
    transition: 0.2s;
}

.photo:hover img{
    opacity: 0.3;
    filter: blur(3px);
    transition: 0.2s;
}

.other .photo a {
    color: #5c5e66;
}

.header .photo a {
    color: white;
}

.photo:hover.other{
    color: black;
}

.photo:hover.header{
    color: white;
}
.fond-fame-concert{
    background-color: #555;
}

.header{
    color: white;
}

.title{
    font-family: 'Rock Salt', cursive;
    color: #23c8dd;
}

.home{
    margin-bottom: 3%;
}

.imgs{
    text-align: center;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

.artist{
    font-size: 2em;
    width: 100%;
}

.other{
    color: #5c5e66;
    font-weight: bold;
}

.photo{
    position: relative;
}

.hoverimage{
    position: absolute; 
    width:100%;
    text-align: center;
    margin: 0 auto;
    margin-top: -55%;
    opacity: 0;
    transition: 0.2s;
}
.photo:hover div, .photo div:hover{
    opacity: 1;
    transition: 0.5s;
    font-size: 1.5em;
}

.photo:hover div, .photo div:hover{
    transition: 0.2s;
    font-size: 1.5em;
}
