<!-- <div class="wrapper-panier">
  
  <h1>Panier</h1>
  *ngFor="let concert of concerts"
  <div class="ui-g panier-element" >
    <div class="contenu ui-g-7">
      <img src="./assets/hellfest.jpg" alt="">
      <div>
        <h3><a href="">{{p.concert.name}}</a></h3>
        <p>{{p.concert.artist}}</p>
        <p><strong>10/01/2019 - 12H00</strong></p>
        <p><strong>Montpellier</strong></p>
      </div>
    </div>
    <div class="ui-g-2 centre-price">
        <div class="price">
          <p><span>150 €</span> <br> 75 € / place </p>
          
        </div>
      </div>
    <div class="contenu ui-g-2">
      <div class="centre-button">
        <div class="centre-nb-place">
          <div>
              <button type="button" class="destion-nb-place">+</button>
          </div>
          <p id="nb_places">1</p>
          <input value="1" type="number" name="nb_places" id="nb_places">
          <div>
              <button type="button" class="destion-nb-place">-</button>
          </div>
        </div>
          <p-spinner size="3" [(ngModel)]="val" [min]="1" [max]="100"></p-spinner>
          <button type="button" class="buttonSuppr">Supprimer</button>
        
      </div>
    </div>
  </div>
</div> -->