<div class="wrapper-panier">
  
  <h1>Panier</h1>
  <div class="ui-g panier-element">
    
    <div class="contenu ui-g-7">
      <img src="./assets/hellfest.jpg" alt="">
      <div><h3><a href="">Hellfest</a></h3>
        <p>Artist</p>
        <p><strong>10/01/2019 - 12H00</strong></p>
        <p><strong>Montpellier</strong></p>
      </div>
    </div>
    <div class="ui-g-2 centre-price">
        <div class="price">
          <p>150 €</p>
          <p>75 € / place</p>
        </div>
      </div>
    <div class="contenu ui-g-2">
      <div class="centre-button">
        <p-spinner size="10" [(ngModel)]="val" [min]="1" [max]="100"></p-spinner>
        <button>Delete</button>
      </div>
    </div>
  </div>
  
  <div class="ui-g panier-element">
    
      <div class="contenu ui-g-9">
        <img src="./assets/queen.png" alt="">
        <div><h3>bLALALALALALALQLEFGUHERG</h3>
          <p>Artist</p>
          <p>Date</p>
          <p>Lieu</p>
        </div>
      </div>
      <div class="ui-g-2 centre-price">
        <div class="price">
          <p>150 €</p>
          <p>75 € / place</p>
        </div>
      </div>
      <div class="contenu ui-g-1">
        <div class="centre-button">
          <button>Delete</button>
          <p-spinner size="10" [(ngModel)]="val" [min]="1" [max]="100"></p-spinner>
        </div>
      </div>
    </div>
</div>