footer{
    background-color: #5c5e66;
    bottom:0;
    width: 100%;
    padding: 30px;
    border-top-color: #23c8dd;
    border-top-width: 10px;
    border-top-style: solid;
    margin-top: 20px;
    text-align: center;
}

a {
    color: white !important;
}
    body a:hover {
      color: #23c8dd !important; }
    body a:active {
      color: #23c8dd !important; }