<div class="wrapper">
  <h2>Mon compte</h2>


</div>

<p-tabView>
  <p-tabPanel header="Mon historique" leftIcon="pi pi-clock">
      <div class="tableauCommandes" *ngFor="let c of listCommande" >
          <a href="">
            <div class="ui-g listeCommandes">
                <div class="ui-g-4">
                  <h3> {{c.id}} </h3>
                </div>
                <div class="ui-g-4" >
                  <h3> {{c.date}} </h3>
                </div>
                <div class="ui-g-4">
                  <h3> {{ c.user.firstname }} {{c.user.lastname}}</h3>
                </div>
            </div>
           </a>
        </div>
  </p-tabPanel>
  <p-tabPanel header="Modfier mon compte" leftIcon="pi pi-user">
    <app-user-reactive-form></app-user-reactive-form>
  </p-tabPanel>
</p-tabView>