<div class="wrapper">
  <h2>Mon compte</h2>


</div>

<p-tabView>
  <p-tabPanel header="Mon historique" leftIcon="pi pi-clock">
<div class="tableauCommandes">
    <div class="ui-g listeCommandes">
        <div class="ui-g-1">
          <h3>Id</h3>
        </div>
        <div class="ui-g-4">
          <h3>Date</h3>
        </div>
        <div class="ui-g-5">
          <h3>Concert</h3>
        </div>
        <div class="ui-g-2">
          <h3>Prix</h3>
        </div>
      </div>
      <div class="ui-g listeCommandes">
        <div class="ui-g-1">
          ID
        </div>
        <div class="ui-g-4">
          LA DATE
        </div>
        <div class="ui-g-5">
          LE CONCERT
        </div>
        <div class="ui-g-2">
          LE PRIX
        </div>
      </div>
  
      <div class="ui-g listeCommandes">
          <div class="ui-g-1">
            ID
          </div>
          <div class="ui-g-4">
            LA DATE
          </div>
          <div class="ui-g-5">
            LE CONCERT
          </div>
          <div class="ui-g-2">
            LE PRIX
          </div>
        </div>
        <div class="ui-g listeCommandes">
            <div class="ui-g-1">
              ID
            </div>
            <div class="ui-g-4">
              LA DATE
            </div>
            <div class="ui-g-5">
              LE CONCERT
            </div>
            <div class="ui-g-2">
              LE PRIX
            </div>
          </div>
  
          <div class="ui-g listeCommandes">
              <div class="ui-g-1">
                ID
              </div>
              <div class="ui-g-4">
                LA DATE
              </div>
              <div class="ui-g-5">
                LE CONCERT
              </div>
              <div class="ui-g-2">
                LE PRIX
              </div>
            </div>
</div>
   
  </p-tabPanel>
  <p-tabPanel header="Modfier mon compte" leftIcon="pi pi-user">
    <app-user-reactive-form></app-user-reactive-form>
  </p-tabPanel>
</p-tabView>