.wrapper{
    border-bottom: 2px solid #1c1c1c; 
    position: relative;
    padding: 25px 0; 
    background-color: #5c5e66;
    color: white;
}



.listeCommandes{
    line-height:70px;
    border-bottom : 2px solid #1c1c1c;
    transition: 0.2s;
}
.listeCommandes:hover{
    background-color: #ecebf3;
    transition: 0.2s;
}

.tableauCommandes>div:last-child{
    border-bottom: 0;
}
