@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Homemade+Apple|Rock+Salt');

*{
    padding: 0 !important;
}
nav {
    padding: inherit;
    background-color: #1c1c1c;
    color: #ecebf3;
    text-align: center;
    height: 100vmax;
    position: fixed;
    width: 16.68%;
}
a{
    color: #ecebf3;
    font-weight: bold;
}
a:hover{
    color: #23c8dd;
    transition: 0.3s;
}
nav > div{
    border-bottom: 2px solid #ecebf3;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}
nav div:first-child{
    padding-top: 10px !important;

}
nav div:nth-child(2){
    line-height: 40px;
    position: relative;
}
nav div:nth-child(2) p{
    display: inline-block;
    line-height: 1;
}
nav div:nth-child(4){
    position: relative;
}
.remplacement{
    position: absolute;
    margin-left: 15%;
    width: 40px;
    height: 40px;
    background-color: green;
    float: left;
    border-radius: 50%;
}
nav ul li {
    margin: 12px 0;
}
nav input{
    background-color: #1c1c1c;
    margin-top: 10px;
    width: 50%;
    text-align: center;
    color: #ecebf3;
}
input::placeholder{
    color: #ecebf3;
}

h1{
    color: #23c8dd;
}

.title{
    font-family: 'Rock Salt', cursive;
}

img{
    max-width: 30%;
}