<nav>
  <div>
    <a href="#"><h1 class="title">EBYT</h1></a>
    <p>Every Beat You Take</p>
  </div>

  <div  *ngIf="authenticated">
    <!-- <div class="remplacement"></div> -->
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1k1QoR3AwWiJPPThyenjWi5OzN9IVtzU7WmbAW8Zpljl-m0DD" alt="">
    <div>
      <li *ngIf="firstname"><a href="">{{firstname}} </a> </li> 
      <li *ngIf="lastname"><a href="">{{lastname}}</a></li>
      <li><a href="">Mon Compte</a></li>
      <li>
      <img (click)="logout()" src="./assets/icons/deconnexion.png">
    </li> 
        
    </div>
  </div>

    <div *ngIf="!authenticated">
        <a routerLink="/login">Se connecter</a>
    </div>

  <div>
    <ul>
      <li><a href="#">Accueil</a></li>
      <li><a href="/listConcert">Concerts</a></li>
      <li> <input type="text" placeholder="Recherche"></li>
      <li *ngIf="role === 'ROLE_ADMIN'"><a routerLink="/admin/concerts">Admin</a></li>
    </ul>
  </div>
  <div>
    <img src="https://www.letetard.be/themes/responsive-tetard/default/img/icon-shopping-cart.svg">
    <p>PRIX</p>
    <ul>
      <li><a href="">Hellfest <span>50€</span></a></li>
      <li><a href="">Hellfest <span>50€</span></a></li>
      <li><a href="">Hellfest <span>50€</span></a></li>
      <li><a href="">Hellfest <span>50€</span></a></li>
      <li><a href="">Hellfest <span>50€</span></a></li>
      <li><a href="">Hellfest <span>50€</span></a></li>
    </ul>
  </div>
</nav>