@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Homemade+Apple|Rock+Salt');

*{
    padding: 0 !important;
}
nav {
    padding: inherit;
    background-color: #1c1c1c;
    color: #ecebf3;
    text-align: center;
    height: 100%;
}
a{
    color: #ecebf3;
    font-weight: bold;
}
a:hover{
    color: #23c8dd;
    transition: 0.3s;
}


nav div:first-child{
    padding-top: 10px;
    
}
nav div:nth-child(2){
    line-height: 40px;
    position: relative;
}
nav div:nth-child(2) p{
    display: inline-block;
    line-height: 1;
}
nav div:nth-child(4){
    position: relative;
}
.remplacement{
    position: absolute;
    margin-left: 15%;
    width: 40px;
    height: 40px;
    background-color: green;
    float: left;
    border-radius: 50%;
}
nav ul li {
    margin: 12px 0;
}
nav input{
    background-color: #1c1c1c;
    margin-top: 10px;
    width: 50%;
    text-align: center;
    color: #ecebf3;
}
input::placeholder{
    color: #ecebf3;
}

h1{
    color: #23c8dd;
}

.title{
    font-family: 'Rock Salt', cursive;
}

.panier img{
    width: 150px;
}

.icon img{
}

.panier.icon{
    height: 200px;
}

.prix h3{
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 50px white;
    border-radius: 30px;
    transition: 0.2s;
}

.panier{
    margin: 0 10% 0 10%;
}

.titre p{
    margin-bottom: 20px;
}

.icon, .prix{
    cursor: pointer;
}

button{
    cursor: pointer;
    border-radius:30px;
    line-height: 2.5em;
    width: 70%;
    transition: 0.2s;
    margin-top: 15px;
    background-color: #23c8dd;
}

.barre{
    border-bottom: solid;
    border-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

div.icon{
    position: relative;
}

.prixpanier{
    position: absolute;
    color: #1c1c1c;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    width: 100%;
    top: 80px;
}

.panier span{
    text-align: center;
}

.total{
    margin-top: 100px;
}

.boldblue{
    font-weight: bold;
    color: #23c8dd;
}

.bold{
    font-weight: bold;
}

.robot {
    width: 10em;
}

.concert{
    color: #23c8dd;
}