<nav>
  <div>
    <h1>EBYT</h1>
    <p>Every Beat You Take</p>
  </div>
  <hr>
  <div>
    <img src="" alt="">
    <p>
      <span><a href="">Nom</a> </span> 
      <span><a href="">Prenom</a></span>
    </p>
  </div>
  <ul>
    <li><a href="#">Accueil</a></li>
    <li><a href="#">Concerts</a></li>
    <li> <input type="text" placeholder="Recherche"></li>
  </ul>
  <hr>
  <div>
    <img src="" alt="">
    <p>PRIX</p>
  </div>
  <ul>
      <li><a href="">Hellfest <span>50€</span></a></li>
      <li><a href="">Hellfest <span>50€</span></a></li>
      <li><a href="">Hellfest <span>50€</span></a></li>
      <li><a href="">Hellfest <span>50€</span></a></li>
      <li><a href="">Hellfest <span>50€</span></a></li>
      <li><a href="">Hellfest <span>50€</span></a></li>
    
  </ul>
</nav>